<a href="https://colab.research.google.com/github/SANGEETHAPAULRAJ/mypythonsessions/blob/main/stock%20prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
def prepare_data(df,Open,High,test_size):
    label = df[Open].shift(-High) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[Open]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-High:] #creating the column i want to use later in the predicting method
    X = X[:-High] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [16]:
df = pd.read_csv("/content/sample_data/Download Data - STOCK_US_XNYS_CSV.csv")

In [17]:
df

          Date   Open   High    Low  Close   Volume
0   08/16/2022  40.58  41.39  40.41  40.63  124,722
1   08/15/2022  40.50  41.51  40.20  41.03  175,105
2   08/12/2022  38.40  40.06  38.31  39.85   86,967
3   08/11/2022  38.72  39.13  37.86  38.04   85,721
4   08/10/2022  37.01  38.93  36.96  38.52  108,353
5   08/09/2022  36.20  36.41  35.64  36.38   72,583
6   08/08/2022  37.13  37.65  35.74  35.82  164,875
7   08/05/2022  34.54  36.81  34.32  36.68  184,548
8   08/04/2022  36.16  36.37  34.22  34.24  143,977
9   08/03/2022  38.65  38.70  35.81  36.00  189,742
10  08/02/2022  37.84  40.38  37.50  38.66  233,698
11  08/01/2022  35.94  37.96  35.54  37.70  224,562
12  07/29/2022  36.78  36.84  34.70  36.28  250,138
13  07/28/2022  39.01  39.69  35.24  36.84  358,544
14  07/27/2022  44.06  44.52  43.22  44.05  112,927
15  07/26/2022  42.91  43.67  42.81  43.67   94,107
16  07/25/2022  42.53  43.17  42.15  42.91  205,742
17  07/22/2022  42.58  42.89  41.99  42.54   50,176
18  07/21/2022  41.17  42.52  40.89  42.52   60,550
19  07/20/2022  40.98  41.49  40.67  41.25   64,857
20  07/19/2022  40.13  41.21  40.13  41.11   73,122
21  07/18/2022  40.85  41.01  39.44  39.60   47,827

In [20]:
Open = 'Close'
High = 5
test_size = 0.2

In [21]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,Open,High,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing linear regression model

learner.fit(X_train,Y_train) #training the linear regression model

LinearRegression()

In [22]:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': -0.07040963229313624, 'forecast_set': array([39.56580375, 39.56462858, 39.49000536, 39.48177918, 39.39305394])}